@import "./../Variables/Variables.scss";

.h1HeadingIndxxServices {
    //   font-family: "Daikon";
    font-style: normal;
    font-weight: 700 !important;
    font-size: 5rem !important;
    line-height: 105px !important;
    color: $whiteColor;
    max-width: 35.938rem;
}

.headingSubtextIndxxServices {
    //   font-family: "Daikon";
    font-style: normal;
    font-weight: 500 !important;
    font-size: 1.438rem !important;
    line-height: 30px !important;
    color: $whiteColor;
    max-width: 34rem;
}

